streamlit>=1.49.1
pandas>=2.3.2
numpy==1.26.4
scipy==1.11.4
matplotlib>=3.10.6
seaborn>=0.13.2
plotly>=6.3.0
scikit-learn>=1.7.1
statsmodels==0.14.2
imbalanced-learn==0.14.0
openpyxl>=3.1.0
pillow>=11.3.0
reportlab>=4.4.4
groq>=0.31.1
jinja2>=3.1.6
groq
imbalanced-learn
jinja2
matplotlib
numpy
openpyxl
pandas
pillow
plotly
reportlab
scikit-learn
scipy
seaborn
statsmodels
streamlit
fastapi
python-multipart
uvicorn
fastapi
groq
imbalanced-learn
jinja2
matplotlib
numpy
openpyxl
pandas
pillow
plotly
python-multipart
reportlab
scikit-learn
scipy
seaborn
statsmodels
streamlit
uvicorn
